{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    {% for auction in auctions %}
        <div class="container-fluid ">
            <div class="row">
                <div class = "col-3 pb-2 h-20">
                    <img alt="{{auction.name}} Image" src="{{auction.image.url}}" class="object-fit-contain border rounded img-fluid">
                </div>
                <div class = "col-9 pb-2 ">
                    <h4>{{auction.name}}</h4>
                    <b>Price: </b>
                    <span> ${{auction.current_bid}}</span>
                    <p class = "overflow-auto">{{auction.description}}</p>
                </div>
            </div>
        </div>
        {%endfor%}
    {% endblock %}